.cube__side,
.no-js .cube {
	border: 0.5vw solid #ffffff;
	background: #f0f0f0 url(../img/mandala.png) no-repeat center center;
	background-size: cover;  /* Ensures image fills the entire face */
	background-position: center;  /* Centers the image */
	background-repeat: no-repeat;  /* Prevents tiling */
}

.cube:not(.cube--inactive):nth-child(1n) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(1n) {
	background-image: url(../img/sakura1.webp);
}

.cube:not(.cube--inactive):nth-child(2n) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(2n) {
	background-image: url(../img/sakura2.webp);
}

.cube:not(.cube--inactive):nth-child(3n) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(3n) {
	background-image: url(../img/sakura3.webp);
}

.cube:not(.cube--inactive):nth-child(4n) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(4n) {
	background-image: url(../img/sakura4.webp);
}

.cube:not(.cube--inactive):nth-child(5n) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(5n) {
	background-image: url(../img/sakura5.webp);
}

.cube:not(.cube--inactive):nth-child(6n) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(6n) {
	background-image: url(../img/sakura6.webp);
}

.cube:not(.cube--inactive):nth-child(7n) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(7n) {
	background-image: url(../img/sakura7.webp);
}

.cube:not(.cube--inactive):nth-child(8n) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(8n) {
	background-image: url(../img/sakura8.webp);
}

.cube:not(.cube--inactive):nth-child(9n) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(9n) {
	background-image: url(../img/sakura9.webp);
}

.cube:not(.cube--inactive):nth-child(10n) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(10n) {
	background-image: url(../img/sakura10.webp);
}

.cube:not(.cube--inactive):nth-child(11n) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(11n) {
	background-image: url(../img/sakura11.webp);
}

.cube:not(.cube--inactive):nth-child(12n) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(12n) {
	background-image: url(../img/sakura12.webp);
}

.cube:not(.cube--inactive):nth-child(13n) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(13n) {
	background-image: url(../img/sakura13.webp);
}

.cube:not(.cube--inactive):nth-child(14n) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(14n) {
	background-image: url(../img/sakura14.webp);
}



.cube--inactive .cube__side,
.no-js .cube--inactive {
	background: #e1e0e0;
}


/* With JS we insert a number span into the cube */

.cube__number,
.no-js .cube::after {
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, sans-serif;
	font-weight: 700;
	line-height: 2.5;
	width: 2em;
	height: 2em;
	padding: 0 0 0 0.25em;
	text-align: center;
	letter-spacing: -0.05em;
	color: #fff;
	border-radius: 100% 0 0 0;
	background: #f8af8d;
}

.cube:nth-child(2n):not(.cube--inactive) .cube__number,
.no-js .cube:nth-child(2n):not(.cube--inactive)::after {
	background: #f8d18d;
}

.cube:nth-child(3n):not(.cube--inactive) .cube__number,
.no-js .cube:nth-child(3n):not(.cube--inactive)::after {
	background: #8df88d;
}

.cube--inactive .cube__number,
.no-js .cube--inactive::after {
	background: #aaa;
}

.js .content__block {
	text-align: right;
}

.content__number {
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, sans-serif;
	font-size: 40vw;
	font-weight: bold;
	line-height: 0.5;
	right: 0;
	bottom: 30vh;
	text-indent: -0.175em;
	letter-spacing: -0.175em;
	color: #fff;
}
